<?xml version="1.0" encoding="UTF-8"?>
<types>
    <groups>
        <group>
            <ID>22</ID>
            <post_content></post_content>
            <post_title>Speaker details</post_title>
            <post_excerpt></post_excerpt>
            <post_type>wp-types-group</post_type>
            <post_status>publish</post_status>
            <meta>
                <_wp_types_group_filters_association>any</_wp_types_group_filters_association>
                <_wp_types_group_fields>,title,</_wp_types_group_fields>
                <_wp_types_group_post_types>,speakers,</_wp_types_group_post_types>
                <_wp_types_group_terms>all</_wp_types_group_terms>
                <_wp_types_group_admin_styles></_wp_types_group_admin_styles>
                <_wp_types_group_templates>all</_wp_types_group_templates>
                <_wpcf_conditional_display>a:2:{s:8:&quot;relation&quot;;s:3:&quot;AND&quot;;s:6:&quot;custom&quot;;s:0:&quot;&quot;;}</_wpcf_conditional_display>
            </meta>
            <hash>3ee5535aecb2ddf5d3250844b90155b7</hash>
            <checksum>3ee5535aecb2ddf5d3250844b90155b7</checksum>
            <__types_id>speaker-details</__types_id>
            <__types_title>Speaker details</__types_title>
        </group>
    </groups>
    <fields>
        <field>
            <id>title</id>
            <slug>title</slug>
            <type>textfield</type>
            <name>Title</name>
            <description></description>
            <data>
                <repetitive>0</repetitive>
                <conditional_display>
                    <relation>AND</relation>
                    <custom></custom>
                </conditional_display>
                <disabled_by_type>0</disabled_by_type>
            </data>
            <meta_key>wpcf-title</meta_key>
            <__types_id>title</__types_id>
            <__types_title>Title</__types_title>
            <hash>6fa30bc69936b5aa8d5d59528f926e7e</hash>
            <checksum>6fa30bc69936b5aa8d5d59528f926e7e</checksum>
        </field>
    </fields>
    <types>
        <type>
            <wpcf-post-type>speakers</wpcf-post-type>
            <labels>
                <name>Speakers</name>
                <singular_name>Speaker</singular_name>
                <add_new>Add New</add_new>
                <add_new_item>Add New %s</add_new_item>
                <edit_item>Edit %s</edit_item>
                <new_item>New %s</new_item>
                <view_item>View %s</view_item>
                <search_items>Search %s</search_items>
                <not_found>No %s found</not_found>
                <not_found_in_trash>No %s found in Trash</not_found_in_trash>
                <parent_item_colon>Parent %s</parent_item_colon>
                <all_items>%s</all_items>
            </labels>
            <slug>speakers</slug>
            <description></description>
            <public>public</public>
            <menu_position></menu_position>
            <menu_icon></menu_icon>
            <supports>
                <title>1</title>
                <editor>1</editor>
                <thumbnail>1</thumbnail>
            </supports>
            <rewrite>
                <enabled>1</enabled>
                <custom>normal</custom>
                <slug></slug>
                <with_front>1</with_front>
                <feeds>1</feeds>
                <pages>1</pages>
            </rewrite>
            <show_in_menu>1</show_in_menu>
            <show_in_menu_page></show_in_menu_page>
            <show_ui>1</show_ui>
            <publicly_queryable>1</publicly_queryable>
            <can_export>1</can_export>
            <show_in_nav_menus>1</show_in_nav_menus>
            <query_var_enabled>1</query_var_enabled>
            <query_var></query_var>
            <permalink_epmask>EP_PERMALINK</permalink_epmask>
            <id>speakers</id>
            <__types_id>speakers</__types_id>
            <__types_title>Speakers</__types_title>
            <hash>e06276f22b7f35d943dc085ed3983dfd</hash>
            <checksum>e06276f22b7f35d943dc085ed3983dfd</checksum>
        </type>
    </types>
</types>